/* ---------- BEGIN BASIC PAGE ---------- */

/* Add a black background to the page */
body {
    background-color: #000;
    font-family: Futura, Arial, sans-serif;
}

/* Add a black background and red border to the main nav bar */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    border-bottom: 4px solid red;
}

/* Position the logo */
#logo {
    float: left;
}

/* Main nav styling */
.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for main nav links */
.main-nav a {
    display: block;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 14px 30px;
}    

/* Add a gray background and red border to the bottom nav bar */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    border-top: 2px solid red;
}

/* Bottom nav styling */
.bottom-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for nav links */
.bottom-nav a {
    display: block;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 5px 30px;
    width: 100%;
}    

/* Change the color of nav links when hovering in main navbar */
.main-nav ul a:hover {
    color: red;
    background: rgb(46, 44, 44);
    box-shadow: 0px 4px 0px 0px red;
}

/* Change the color of nav links when hovering in bottom navbar */
.bottom-nav ul a:hover {
    color: red;
    background: rgb(46, 44, 44);
    height: 30px;
    box-shadow: 0px 2px 0px 0px red;
}

/* Add an active class to highlight the current page in main navbar */
.main-nav ul a:active {
    background-color: red;
    color: white;
}

/* Add an active class to highlight the current page in bottom navbar */
.bottom-nav a:active {
    background-color: red;
    color: white;
}

/* ---------- END BASIC PAGE ---------- */


/* ---------- BEGIN LOCATIONS PAGE ---------- */

h1 {
    color: white;
    top: 150px;
    position: absolute;
    margin: auto;
    text-align: center;
}

section {
    display: block;
    float: center;
}

.location1 {
    color: white;
    position: absolute;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.location2 {
    color: white;
    position: relative;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.location3 {
    color: white;
    position: absolute;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

/* ---------- END LOCATIONS PAGE ---------- */


/* ---------- BEGIN CONTACT FORM PAGE ---------- */

h1 {
    text-align: center;
    margin: 0;
}

.form-container {
    display: flex;
    height: 100vh;
    padding: 30px;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

form {
    height: 300px;
    width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

input {
    border: 2px solid black;
    width: 50%;
    padding: 5px;
}

button {
    /*width: 160px;*/
    /*padding: 5px;*/
    margin: 20px;
    background-color: #333;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 15px;
    width: 100%;
    height: 50px;
}

a {
    color: #ccc;
    text-decoration: none;
    /* text-align: center; */
}

/* ---------- END CONTACT US PAGE ---------- */


/* ---------- BEGIN ABOUT US PAGE ---------- */

.about-us {
    color: white;
    position: absolute;
    top: 150px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.about-container {
    color: white;
    position: absolute;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

/* ---------- END ABOUT US PAGE ---------- */

