html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: row wrap;
  font-family: Futura, Arial, sans-serif;
  background-color: #000000;
}
#logo {
  display: block;
  /* margin-left: 10px; */
  float: left;
  justify-content: center;
}
.cart {
  display: none;
}
.prompts {
  display: block;
  position: absolute;
  text-align: center;
  flex-direction: column;
  padding: 60px;
  height: 80en;
  width: 25%;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.btn-checkout {
  display: block;
  width: 200px;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 20px;
  border: 2px solid red;
  background-color: #000000;
  color: #ffffff;
}
#paymentTypeCash {
  display: flex;
  width: 100%;
  height: 45vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
#cash {
  display: none;
  /* display: flex; */
  width: 90%;
  padding: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: auto;
  font-size: 1rem;
  background-color: rgba(82, 76, 78, 0.877);
  color: #ffffff;
}
.lineItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  /* padding-bottom: 100px; */
}
.lineItems {
  /* display: flex; */
  /* width: 100%; */
  max-width: 650px;
  height: 64vh;
  background-color: #000000;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0 auto;
  font: 2rem;
  color: #ffffff;
}
.items-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid red;
  margin: 0 auto;
  font: 2rem;
  height: 50px;
}
.items {
  display: flex;
  flex-direction: row wrap;
  max-width: 650px;
  /* width: 100%; */
  margin: 0 auto;
  font: 2rem;
  box-sizing: border-box;
}
.items-title {
  width: 45%;
  padding: 10px 0;
}
.price-title {
  width: 15%;
  padding: 10px 0;
}
.quantity-title {
  width: 30%;
  padding: 10px 0;
}
.total-title {
  width: 10%;
  padding: 10px 0;
  /* border-bottom: 1px solid white */
}
.item {
  width: 1500px;
  padding: 10px 0;
}
.price {
  width: 1500px;
  padding: 10px 0;
}
.quantity {
  width: 1500px;
  padding: 10px 0;
}
.total {
  width: 1500px;
  padding: 10px 0;
  /* border-bottom: 1px solid white */
}
.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
}
#ccInfo {
  display: none;
  /* display: block; */
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(82, 76, 78, 0.877);
  margin: auto;
  font-size: 1rem;
  color: #ffffff;
}
input {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: #000000;
  color: #ffffff;
}
.btn-success {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  border-radius: 20px;
  border: 2px solid red;
  background-color: #000000;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Futura, Arial, sans-serif;
  }
  body {
    display: flex;
    height: 100vh;
  }
  .prompts {
    display: block;
    position: absolute;
    text-align: center;
    flex-direction: column;
    padding: 60px;
    height: 80en;
    width: 40en;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .btn-checkout {
    display: block;
    width: 260px;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid red;
    background-color: #000000;
    color: #ffffff;
  }
  #paymentTypeCash {
    display: flex;
    width: 40%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  #cash {
    display: none;
    /* display: block; */
    width: 90%;
    border-radius: 2px;
    background-color: #ffffff;
    margin: auto;
    font-size: 1.5rem;
    background-color: rgba(82, 76, 78, 0.877);
    color: #ffffff;
  }
  .lineItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 100px;
  }
  .lineItems {
    background-color: #000000;
    justify-content: space-around;
    margin: 0 auto;
    font: 2rem;
    /* height: 100vh; */
    color: #ffffff;
    }
  .items-header {
    /* width: 100%; */
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid red;
    margin: 0 auto;
    height: 50px;
  }  
  .items {
    /* width: 100%; */
    /* display: flex;
    max-width: 650px;
    justify-content: flex-start;
    margin: 0 auto; */
  display: flex;
  flex-direction: row;
  max-width: 650px;
  /* width: 100%; */
  justify-content: space-around;
  margin: 0 auto;
  font: 2rem;
  box-sizing: border-box;
  }
  /* .items-title {
    width: 45%;
  }
  .price {
    width: 15%;
  }
  .quantity {
    width: 30%;
  }
  .total {
    width: 10%;
  }
  .item {
    width: 1000px;
  } */
  .items-title {
    width: 45%;
    padding: 10px 0;
  }
  .price-title {
    width: 15%;
    padding: 10px 0;
  }
  .quantity-title {
    width: 30%;
    padding: 10px 0;
  }
  .total-title {
    width: 10%;
    padding: 10px 0;
    /* border-bottom: 1px solid white */
  }
  .item {
    width: 2500px;
    padding: 10px 0;
  }
  .price {
    width: 1500px;
    padding: 10px 0;
  }
  .quantity {
    width: 1500px;
    padding: 10px 0;
  }
  .total {
    width: 1500px;
    padding: 10px 0;
    /* border-bottom: 1px solid white */
  }
  .cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }
  .cartTotalTitle {
    width: 30%;
  }
  .cartTotal {
    width: 10%;
  }
  #ccInfo {
    display: none;
    /* display: block; */
    width: 90%;
    /* padding: 30px; */
    border-radius: 2px;
    background-color: rgba(82, 76, 78, 0.877);
    margin: auto;
    font-size: 1.5rem;
    color: #ffffff;
  }
  input {
    width: 100%;
    /* padding: 5px; */
    /* border-radius: 5px; */
    margin: 0.5rem 0;
  }
  input[type="email"] {
    width: 100%;
    /* padding: 5px; */
    border-radius: 5px;
    margin: 3.5rem, 0;
  }
  .btn-success {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid red;
    background-color: #000000;
    color: #ffffff;
  }
}
