html,
body {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  display: flex;
  flex-flow: row wrap;
  font-family: Futura, Arial, sans-serif;
}
.prompts {
  display: block;
  position: absolute;
  text-align: center;
  flex-direction: column;
  padding: 60px;
  height: 80en;
  width: 25%;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.btn-checkout {
  display: block;
  width: 200px;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 20px;
  border: 2px solid red;
  background-color: #000000;
  color: #ffffff;
}
#paymentTypeCash {
  display: flex;
  width: 100%;
  height: 35vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
#cash {
  display: none;
  /* display: flex; */
  width: 90%;
  padding: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: auto;
  font-size: 1rem;
  background-color: rgba(82, 76, 78, 0.877);
  color: #ffffff;
}
.lineItems {
  /* display: flex; */
  width: 100%;
  max-width: 650px;
  /* height: 65vh; */
  background-color: #000000;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1rem;
  color: #ffffff;
}
.items-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid red;
  margin: 0 auto;
}

.items-title {
  width: 45%;
}
.price {
  width: 15%;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;
  /* border-bottom: 1px solid white; */
  display: flex;
  align-items: center;
}
.total {
  width: 10%;
  display: flex;
  align-items: center;
}
.item {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

/* #paymentTypeCC {
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: center;
  align-items: center;
} */
#ccInfo {
  display: none;
  /* display: block; */
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(82, 76, 78, 0.877);
  margin: auto;
  font-size: 1rem;
  color: #ffffff;
}
input {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: #000000;
  color: #ffffff;
}
.btn-success {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  border-radius: 20px;
  border: 2px solid red;
  background-color: #000000;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Futura, Arial, sans-serif;
  }
  body {
    display: flex;
    height: 100vh;
  }
  .prompts {
    display: block;
    position: absolute;
    text-align: center;
    flex-direction: column;
    padding: 60px;
    height: 80en;
    width: 40en;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .btn-checkout {
    display: block;
    width: 260px;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid red;
    background-color: #000000;
    color: #ffffff;
  }
  #paymentTypeCash {
    display: flex;
    width: 40%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  #cash {
    display: none;
    /* display: block; */
    width: 90%;
    border-radius: 2px;
    background-color: #ffffff;
    margin: auto;
    font-size: 1.5rem;
    background-color: rgba(82, 76, 78, 0.877);
    color: #ffffff;
  }

  /* .lineItems {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
    font-size: 3rem;
    color: #ffffff;
  } */

  .lineItems {
    /* display: flex; */
    width: 60%;
    max-width: 1050px;
    /* height: 65vh; */
    background-color: #000000;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2rem;
    color: #ffffff;
  }
  .items-header {
    width: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid red;
    margin: 0 auto;
  }
  
  .items-title {
    width: 45%;
  }
  .price {
    width: 15%;
    display: flex;
    align-items: center;
  }
  .quantity {
    width: 30%;
    display: flex;
    align-items: center;
  }
  .total {
    width: 10%;
    display: flex;
    align-items: center;
  }
  .item {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  /* #paymentTypeCC {
    display: flex;
    width: 40%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  #ccInfo {
    display: none;
    /* display: block; */
    width: 90%;
    /* padding: 30px; */
    border-radius: 2px;
    background-color: rgba(82, 76, 78, 0.877);
    margin: auto;
    font-size: 1.5rem;
    color: #ffffff;
  }
  input {
    width: 100%;
    /* padding: 5px; */
    /* border-radius: 5px; */
    margin: 0.5rem 0;
  }

  input[type="email"] {
    width: 100%;
    /* padding: 5px; */
    border-radius: 5px;
    margin: 3.5rem, 0;
  }
  .btn-success {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    border-radius: 20px;
    border: 2px solid red;
    background-color: #000000;
    color: #ffffff;
  }
}
