@media only screen and (min-width: 768px) {
    #menu{
        display: flex;
        flex-direction: row;
    }
}
body {
    background-color: rgba(82, 76, 78, 0.877);
    }

@font-face {
    font-family: 'Documenta';
    src:url('../documenta/Documenta.otf') format('otf');
}
@font-face {
    font-family: 'Cafe';
    src:url('../louis_george_caf/louis_george_caf') format('ttf');
}

h1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 17, 17);
    color: white;
    font-size: 74px;
    font-weight: 100; 
    text-align: center;
    width: 625px;
    font-family: 'Documenta';
}

h3 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    border: 5px 5px;
    margin: auto;
    font-size: 24px;
    width: 500px;
    font-family: 'Cafe';
    padding: 10px;
}

img {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:  300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 5px solid #000000

}

#description {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: rgb(226, 93, 88);
    font-size: 24px;
    color: black;
    text-align: center;
    border: 5px solid #000000;
}
#price {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: rgb(156, 159, 165);
    font-size: 20px;
    text-align: center;
    border: 2px solid #000000;
}
button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #242222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #dfd4d4;
}
.cart {
    position: absolute;
    min-height: 10rem;
    background: var(--mainWhite);
    top: 0;
    right: 0;
    transition: all 0.3 ease-in-out;
    background: rgba(255, 255, 255, 0.5);
    width: 0;
    overflow: hidden;
}

.show-cart {
    width: 19rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}

.cart-item {
    transition: all 2s ease-in-out;
}