html,
body {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  font-family: Futura, Arial, sans-serif;
}

header {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 20vh;
  width: 100%;
} 

.lineItems {
  /* display: flex; */
  width: 100%;
  max-width: 650px;
  /* height: 65vh; */
  background-color: #ffffff;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1rem;
  height: 90vh;
  color: #000000;
}
.items-header {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #000000;
  margin: 0 auto;
}

.items-title {
  width: 45%;
}
.price {
  width: 15%;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;

  display: flex;
  align-items: center;
}
.total {
  width: 10%;

  display: flex;
  align-items: center;
}
.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
}

.item {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;

}

@media only screen and (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Futura, Arial, sans-serif;
  }
  body {
    display: flex;
    height: 100vh;
  }

  header {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 15vh;
    width: 100%;
} 
.lineItems {
  /* display: flex; */
  width: 100%;
  max-width: 750px;
  height: 85vh;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-size: 1rem;
  color: #000000;
}
.items-header {
  width: 100%;
  max-width: 850px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #000000;
  margin: 0 auto;
}

.items-title {
  width: 45%;
}
.price {
  width: 15%;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;
  display: flex;
  align-items: center;
}
.total {
  width: 10%;
  display: flex;
  align-items: center;
}
.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
}
.item {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
}
