html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  font-family: Futura, Arial, sans-serif;
  background-color: #ffffff;
}
.cart {
  display: none;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 20vh;
  width: 100%;
} 
.lineItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 100px;
} 

.lineItems {
  /* display: flex; */
  width: 100%;
  max-width: 650px; 
  justify-content: space-around;
  margin: 0 auto;
  font-size: 2rem;
  height: 90vh;
  box-sizing: border-box;
}
.items-header, .items>div.item-container {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  font: 2rem;
  height: 50px;
}
.items-title {
  width: 45%;
  display: flex;
  align-items: center;
}

.price-title {
  width: 15%;
  display: flex;
  align-items: center;
}
.quantity-title {
  width: 30%;
  display: flex;
  align-items: center;
}
.total-title {
  width: 10%;
  display: flex;
  align-items: center;
}

.item {
  /* width: 1500px; */
  width: 45%;
  display: flex;
  padding: 10px 0;
}
.price {
  width: 20%;
  padding: 10px 0;
}
.quantity {
  width: 15%;
  padding: 10px 0;
}
.total {
  width: 20%;
  padding: 10px 0;
  /* border-bottom: 1px solid white */
}

.items {
  /* display: flex;
  flex-direction: row wrap;
  max-width: 650px;
  width: 100%;
  /* justify-content: space-around; */
 /* margin: 0 auto;
  font: 2rem;
  box-sizing: border-box; */
  width: 100%;
  font: 2rem;
  box-sizing: border-box;
}

.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
}


@media only screen and (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Futura, Arial, sans-serif;
  }
  body {
    display: flex;
    height: 100vh;
  }

  header {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 15vh;
    width: 100%;
} 
/* .lineItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 100px;
} */

.lineItems {
  /* display: flex; */
  width: 100%;
  max-width: 650px;
  height: 65vh;
  margin-top: 16vh;
  background-color: #ffffff;
  justify-content: space-around;
  /* align-items: center; */
  margin: 0 auto;
  font-size: 2rem;
  color: #000000;
  box-sizing: border-box;
}
.items-header, .items>div.item-container {
  width: 95%;
  max-width: 1050px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  height: 50px;
}

.items-title {
  width: 45%;
  display: flex;
  align-items: center;
}

.price-title {
  width: 15%;
  display: flex;
  align-items: center;
}
.quantity-title {
  width: 30%;
  display: flex;
  align-items: center;
}
.total-title {
  width: 10%;
  display: flex;
  align-items: center;
}
.cartTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.cartTotalTitle {
  width: 30%;
}
.cartTotal {
  width: 10%;
}

.items {
  /* width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box; */
  width: 100%;
  font: 2rem;
  box-sizing: border-box;
}
}