/* ---------- BEGIN BASIC PAGE ---------- */

/* Add a black background to the page */
body {
    background-color: #000;
    font-family: Futura, Arial, sans-serif;
}

/* Add a black background and red border to the main nav bar */
.main-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    border-bottom: 4px solid red;
}

/* Position the logo */
#logo {
    float: left;
}

/* Main nav styling */
.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for main nav links */
.main-nav a {
    display: block;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 14px 30px;
}    

/* Add a gray background and red border to the bottom nav bar */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    border-top: 2px solid red;
}

/* Bottom nav styling */
.bottom-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for nav links */
.bottom-nav a {
    display: block;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 5px 30px;
    width: 100%;
}    

/* Change the color of nav links when hovering in main navbar */
.main-nav ul a:hover {
    color: red;
    background: rgb(46, 44, 44);
    box-shadow: 0px 4px 0px 0px red;
}

/* Change the color of nav links when hovering in bottom navbar */
.bottom-nav ul a:hover {
    color: red;
    background: rgb(46, 44, 44);
    height: 30px;
    box-shadow: 0px 2px 0px 0px red;
}

/* Add an active class to highlight the current page in main navbar */
.main-nav ul a:active {
    background-color: red;
    color: white;
}

/* Add an active class to highlight the current page in bottom navbar */
.bottom-nav a:active {
    background-color: red;
    color: white;
}

/* ---------- END BASIC PAGE ---------- */


/* ---------- BEGIN SLIDESHOW ---------- */

* {box-sizing: border-box}
.mySlides {display: flex;}
img {vertical-align: middle;}

/* Slideshow styles */
.slideshow-container {
    display: flex;
    top: 200px;
    left: 300px;
    width: 50%;
    height: 50%;
    position: absolute;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 50%;
    text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Dot indicators for slide images */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* ---------- END SLIDESHOW ---------- */


/* ---------- BEGIN MEDIA QUERY ---------- */

/* On smaller screens, move top nav to left */
@media only screen and (min-width: 768px) {
    .main-nav {
        width: 100%;
        height: auto;
        position: relative;
        float: left;
        margin-left: 0;
     }
}
     
/* ---------- END MEDIA QUERY ---------- */


/*start of menu.css page*/
body {
    background-color: rgba(180, 172, 172, 0.877);
    }

@font-face {
    font-family: 'Documenta';
    src:url('../documenta/Documenta.otf') format('otf');
}
@font-face {
    font-family: 'Cafe';
    src:url('../louis_george_caf/louis_george_caf') format('ttf');
}

h1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 17, 17);
    color: white;
    font-size: 74px;
    font-weight: 100; 
    text-align: center;
    width: 625px;
    font-family: 'Documenta';
}

h3 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    border: 5px 5px;
    font-size: 24px;
    width: 500px;
    font-family: 'Cafe';
    padding: 10px;
}

img {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width:  300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000

}

p {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: rgb(226, 93, 88);
    font-size: 24px;
    color: black;
    text-align: center;
    border: 5px solid #000000;
}
.price {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: rgb(156, 159, 165);
    font-size: 20px;
    text-align: center;
    border: 2px solid #000000;
}
button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #242222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #dfd4d4;
}
