/* ---------- BEGIN BASIC PAGE ---------- */

/* ---------- BEGIN MOBILE LAYOUT ---------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Hide image carousel and prev/next buttons */
.carousel {
    display: none;
}

/* Add a black background to the page */
body {
    background-color: #000;
    font-family: Poppins, Arial, sans-serif;
}

/* Position the logo */
.logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 60%;
}

.burger {
    display: block;
    margin: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
}

.cart {
    display: flex;
    cursor: pointer;
}

/* Styling for main nav links */
.main-nav ul a {
    display: flex;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    color: #fff;
    padding: 5px 20px;
    width: 200px;
}

/* Styling for main nav links */
.bottom-nav ul a {
    display: flex;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    color: #fff;
    padding: 5px 20px;
    width: 200px;
}

.mobile-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* ---------- END MOBILE LAYOUT ---------- */


/* ---------- BEGIN DESKTOP LAYOUT ---------- */

@media only screen and (min-width: 768px) {

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
/* Hide images for mobile layout */
.mobile-container {
    display: none;
}

/* Add a black background to the page */
body {
    background-color: #000;
    font-family: Poppins, Arial, sans-serif;
}

/* Add a black background and red border to the main nav bar */
.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #000;
    border-bottom: 4px solid red;
}

/* Position the logo */
.logo {
    margin-left: 20px;
    margin-top: 0px;
    width: 500px;
}

/* Hide burger */
.burger {
    display: none;
}

/* Main nav styling */
.main-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    align-items: center;
    margin-left: 0px;
    margin-right: 20px;
    /* background-color: red; */
}

/* Styling for main nav links */
.main-nav ul a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    padding: 14px 20px;
    /* background-color: red; */
    /* transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%); */
}    

/* Add a gray background and red border to the bottom nav bar */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #333;
    border-top: 2px solid red;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
}

/* Bottom nav styling */
.bottom-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    align-items: center;
    /* background-color: red; */
}

/* Styling for nav links */
.bottom-nav ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    align-items: center;
    padding: 5px 20px;
}    

/* Change the color of nav links when hovering in main navbar */
.main-nav-links a:hover {
    color: red;
    background: rgb(46, 44, 44);
    box-shadow: 0px 4px 0px 0px red;
}

.cart a:hover {
    font-size: 25px;
}

/* Change the color of nav links when hovering in bottom navbar */
.bottom-nav ul a:hover {
    color: red;
    background: rgb(46, 44, 44);
    height: 30px;
    box-shadow: 0px 2px 0px 0px red;
}

/* Add an active class to highlight the current page in main navbar */
.main-nav ul a:active {
    color: red;
    background: rgb(46, 44, 44);
    height: 30px;
    box-shadow: 0px 2px 0px 0px red;
}

/* Add an active class to highlight the current page in bottom navbar */
.bottom-nav a:active {
    color: red;
    background: rgb(46, 44, 44);
    height: 30px;
    box-shadow: 0px 2px 0px 0px red;
}

/* ---------- END BASIC PAGE ---------- */


/* ---------- BEGIN CAROUSEL ---------- */

.carousel {
    display: block;
    position: relative;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid red;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    background: #fff;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;;
    -webkit-transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -ms-transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -80px;
    width: 50px;
    height: 50px;
}

.carousel_button--right {
    right: -80px;
    width: 50px;
    height: 50px;
}

.far {
    font-size: 50px;
    color: red;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #333;
    margin: 0 10px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: red;
}

.is-hidden {
    display: none;
}

/* ---------- END CAROUSEL ---------- */



/*start of menu.css page*/
/* body {
    background-color: rgba(180, 172, 172, 0.877);
    }

@font-face {
    font-family: 'Documenta';
    src:url('../documenta/Documenta.otf') format('otf');
}
@font-face {
    font-family: 'Cafe';
    src:url('../louis_george_caf/louis_george_caf') format('ttf');
} */

h2 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 17, 17);
    color: white;
    font-size: 74px;
    font-weight: 100; 
    text-align: center;
    width: 625px;
    font-family: 'Documenta';

}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #242222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #dfd4d4;
}

.row h3 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(85, 82, 82);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    border: 5px 5px;
    font-size: 24px;
    width: 500px;
    font-family: 'Cafe';
    padding: 10px;
}

.row img {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width:  300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000

}

p {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: rgb(226, 93, 88);
    font-size: 24px;
    color: black;
    text-align: center;
    border: 5px solid #000000;
}
.price {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: rgb(156, 159, 165);
    font-size: 20px;
    text-align: center;
    border: 2px solid #000000;
}
.heading button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #242222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #dfd4d4;
}

/* ---------- BEGIN LOCATIONS PAGE ---------- */

.about-us {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 17, 17);
    color: white;
    font-size: 50px;
    font-weight: 100; 
    text-align: center;
    width: 625px;
    font-family: 'Futura';
}

section {
    display: block;
    float: center;
}

.location1 {
    color: white;
    position: absolute;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.location2 {
    color: white;
    position: relative;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.location3 {
    color: white;
    position: absolute;
    top: 200px;
    width: 75%;
    margin: auto;
    text-align: center;
}

/* ---------- END LOCATIONS PAGE ---------- */


/* ---------- BEGIN CONTACT FORM PAGE ---------- */

.contact-us {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 17, 17);
    color: white;
    font-size: 50px;
    font-weight: 100; 
    text-align: center;
    width: 625px;
    font-family: 'Futura';
}

.form-container {
    display: flex;
    height: 100vh;
    bottom: 300px;
    /* padding: 30px; */
    background-color: #000;
    justify-content: center;
    /* align-items: center; */
}

form {
    height: 400px;
    width: 625px;
    padding: 30px;
    background-color: white;
    /* border-radius: 15px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-container input {
    border: none;
    border-bottom: 2px solid black;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-container label {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#message-box {
    width: 560px;
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.form-container button {
    width: 20%;
    height: 50px;
    padding: 5px;
    /* margin-left: 40%; */
    /* margin-right: 40%; */
    margin: 0% 40%;
    background-color: #333;
    color: white;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

a {
    color: #ccc;
    text-decoration: none;
    /* text-align: center; */
}

/* ---------- END CONTACT US PAGE ---------- */


/* ---------- BEGIN ABOUT US PAGE ---------- */

.about-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 17, 17);
    color: white;
    font-size: 50px;
    font-weight: 100; 
    text-align: center;
    width: 625px;
    font-family: 'Futura';
}

.about-container {
    display: block;
    color: white;
    position: absolute;
    top: 200px;
    width: 65%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
}

/* .meet-us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
} */

.team {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    bottom: 400px;
    color: white;
    text-align: center;
    line-height: 2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

}

/* ---------- END ABOUT US PAGE ---------- */
